#box {
  width: 200px;
  height: 200px;
  background-color: gold;
  margin-bottom: 20px;
  box-shadow: 10px -10px 10px pink;
}

#box2 {
  width: 200px;
  height: 200px;
  background: radial-gradient(dodgerblue, yellow, pink);
  border: 10px solid black;
}

h3 {
  color: aliceblue;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
