p {
  color: teal;
}

/* Selectors in CSS be like */
/* to check start of the link starts with use ^ */
/* to check middle of the link starts with use * */
/* to check end of the link starts with use $ */
a[href*="google"] {
  color: aqua;
}
