body {
  margin: 10px;
}

.container {
  border: 5px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 90vh;
  flex-wrap: wrap;
  align-content: center;
}

.box {
  flex-basis: 10rem;
  background-color: gold;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.box-one {
  align-self: flex-start;
}
