.container {
  display: flex;
  flex-direction: column;
}

.box {
  background: gold;
  padding: 1rem;
}

.box:nth-of-type(2) {
  background: dodgerblue;
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}
