.container {
  display: grid;
  grid-template: 100px auto 100px / 30fr 70fr;
  border: 3px solid grey;
  height: 100vh;
  justify-content: center;
  /* align-content: center; */
  /* justify-items: center; */
  gap: 10px;
}

.box {
  background-color: gold;
  /* width: 5rem;
  height: 5rem; */
}
